<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>

        @font-face {
            font-family: "<%= meta['Postscript name'] %>";
            src: url("glb12.svg#<%= meta['Postscript name'] %>") format("svg");
            font-weight: normal;
            font-style: normal;
        }

        #test {
            font-family: "<%= meta['Postscript name'] %>" sans-serif;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            font-size: 40px;

        }
    </style>

</head>
<body>

<div id="test">
    ABCDEF &#x00C7; &#x00E2; &#x00EC;
</div>


</body>
</html>